.login-background-image {
    width:100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-background-image .customer-login-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35.1408vw !important;
    padding: 32px;
    background-color: #FDFAF5;
}


.customer-login-wrapper .feature-header {
    font-size: 32px;
    line-height: 1.3;
    margin: 0 !important;
    margin-bottom: 32px !important;
}
h1:not(.logo-h1), h2, h3, h4, blockquote, .under-cart .subtotal, h5, h6 {
    font-family: Helvetica,serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin: 0;
    text-align: center;
}

input {
    line-height: normal;
}
input, textarea {
    color: #000;
    border: 1px solid #bfbfbf;
    background: #ffffff;
    padding: 1em 1.7em;
    width: 100%;
    max-width: 432px;
    min-height: 32px;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
button, input[type=submit], .button {
    -webkit-appearance: none;
    display: inline-block;
    background-color: #222;
    color: #fff;
    border: 1px solid #222222;
    height: auto;
    width: auto;
    padding: 11.5px 12px;
    line-height: 1;
    vertical-align: top;
    font-weight: 400;
    transition: opacity .3s,color .3s,background-color .3s,border-color .3s,transform .3s;
}

input[type=submit], .button, .shopify-payment-button__button {
    border-radius: 0!important;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}
.form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.customer-login-wrapper .input-row {
    margin: 0;
    margin-bottom: 24px;
}
.form input, .form textarea {
    width: 100%;
}
#login_password input {
    background-color: #FDFAF5;
    color: #121212;
    padding: 16px;
    font-size: 16px;
}

#login_email input ,  #login_name input , #signup_email input , #signup_name input {
    background-color: #FDFAF5;
    color: #121212;
    padding: 16px;
    font-size: 16px;
}

#template #forgot_password {
    margin: 32px 0;
}
.rte a, #template a, #address_tables a, #comments a {
    color: #000;
    border-bottom: 1px solid #000000;
}
.customer-login-wrapper #login_password a {
    font-family: 'SabonNextLTPro';
    line-height: 1.3;
    font-size: 16px;
    color: #323232;
    word-spacing: 3px;
}
.form .wide-action {
    margin-top: 40px;
}
.customer-login-wrapper .wide-action {
    margin-top: 0;
}

.form .wide-action input[type=submit], .form .wide-action button {
    width: 100%;
    margin-bottom: 20px;
}
.form .wide-action input[type=submit] {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'SabonNextLTPro';
    font-size: 21px;
    line-height: 1.3;
    padding: 16px;
}

.rte p, #template p, #address_tables p, #comments p {
    line-height: 1.5em;
}
.customer-login-wrapper .note {
    margin: 0;
    margin-bottom: 32px;
    display: block;
    font-family: 'SabonNextLTPro';
    font-size: 16px;
    color: #323232;
    line-height: 1.3;
}


.rte a, #template a, #address_tables a, #comments a {
    color: #000;
    border-bottom: 1px solid #000000;
}


#forgot_password {
    margin: 32px 0;
}

.form a {
    letter-spacing: 0.8px;

}

.note {
    text-align: center;
}
