* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(226 232 240 / 80%);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal;
}

a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

button, select {
    text-transform: none;
}

button, [role="button"] {
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

textarea {
    resize: vertical;
}

code, kbd, samp, pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}

.font-bold {
    font-weight: 700;
}

.border {
    border-width: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.leading-normal {
    line-height: 1.5;
}

.mt-5 {
    margin-top: 1.25rem;
}

.hsh-card {
    border-radius: .5rem;
    border-width: 1px;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.dark .header-menu-item.blue, .hsh-card {
    --tw-bg-opacity: 1;
}

.bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity));
}

.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--tw-bg-opacity));
}

.text-slate-700 {
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity));
}

.bg-slate-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225/var(--tw-bg-opacity));
}

.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}

.z-20 {
    z-index: 20;
}
.col-span-4 {
    grid-column: span 4/span 4;
}

.min-w-0 {
    min-width: 0;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pr-1 {
    padding-right: .25rem;
}

.pr-2 {
    padding-right: .5rem;
}

.w-9 {
    width: 2.25rem;
}

.h-9 {
    height: 2.25rem;
}

.mr-3 {
    margin-right: .75rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.justify-end {
    justify-content: flex-end;
}

.flex-row {
    flex-direction: row;
}

.flex-shrink-0, .shrink-0 {

    flex-shrink: 0;
}
.p-1 {
    padding: .25rem;
}

.w-36 {
    width: 9rem;
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem;
}
.py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem;
}
.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235/var(--tw-bg-opacity));
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.rounded-2xl {
    border-radius: 1rem;
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
}
.shadow-lg, .shadow-xl {
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
.duration-100 {
    transition-duration: .1s;
}
.opacity-50 {
    opacity: .5;
}

.duration-300 {
    transition-duration: .3s;
}
.mt-1 {
    margin-top: .25rem;
}
.z-10 {
    z-index: 10;
}
.top-100 {
    top: 100%;
}
.left-0 {
    left: 0;
}
.absolute {
    position: absolute;
}
.text-slate-700 {
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity));
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.p-4 {
    padding: 1rem;
}



.mb-5 {
    margin-bottom: 1.25rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.button-transparent {
    border-radius: .5rem;
    border-width: 1px;
    border-color: transparent;
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity));
}

@media (min-width: 768px) {

    .md\:p-10 {
        padding: 2.5rem;
    }

    .md\:flex-1 {
        flex: 1 1 0%;
    }

    .md\:w-auto {
        width: auto;
    }

    .md\:w-96 {
        width: 24rem;
    }

    .md\:justify-start {
        justify-content: flex-start;
    }

    .md\:border-0 {
        border-width: 0;
    }

    .md\:ml-2 {
        margin-left: .5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:mb-0 {
        margin-bottom: 0;
}
}

@media (min-width: 1280px) {

    .xl\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .xl\:max-w-full {
        max-width: 100%;
    }

    .lg\:min-w-0 {
        min-width: 0;
    }

    .xl\:pr-2 {
        padding-right: .5rem;
    }

    .xl\:w-44 {
        width: 11rem;
    }

    .xl\:col-span-3 {
        grid-column: span 3/span 3;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }
    .xl\:col-span-9 {
        grid-column: span 9/span 9;
    }
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.gap-4 {
    gap: 1rem;
}

.grid-cols-12 {
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.grid {
    display: grid;
}

.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity));
}

.block {
    display: block;
}

.fill-current {
    fill: currentColor;
}

.w-10 {
    width: 2.5rem;
}
.h-10 {
    height: 2.5rem;
}
