#toast {
    position: fixed;
    bottom: 5vw;
    right: 5vh;
    z-index: 999999;
  }

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
    }
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
    opacity: 0;
    }
}
.toast-body {
    flex-grow: 1;
}
.toast-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast-msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast-icon{
    padding: 0 16px;
}

.toast-error {
    border-color: #c94141;
}
