* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(226 232 240 / 80%);
}

:root {
    --rounded-normal: 8px;
    --rounded-small: 4px;
    --color-white: #fff;
}

body {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal;
}

a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}

button, select {
    text-transform: none;
}

button, [role="button"] {
    cursor: pointer;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

textarea {
    resize: vertical;
}

code, kbd, samp, pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}

.opacity-50 {
    opacity: .5;
}

.italic {
    font-style: italic;
}

.font-normal {
    font-weight: 400;
}

.block {
    display: block;
}

.draft-container {
    /* display: flex; */
    /* width: 100vw; */
    /* height: 100vh; */
    line-height: 1.5;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1536px;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.draft-nav {
    position: sticky;
    top: 0px;
    left: 0px;
    grid-column: span 12 / span 12;
    flex-direction: column;
    border-right-width: 1px;
    height: -webkit-fill-available;
    display: flex;
}

.draft-main {
    grid-column: span 12 / span 12;
}

.draft-back {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-bottom-width: 1px;
    padding: 1rem;
}

.draft-back-a {
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.draft-back-svg {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    stroke: currentcolor;
}

.css-12n6jp {
    flex: 1 1 0%;
}

.css-tmyzm6 {
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0px 0.25rem 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    width: 100%;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-firlg {
    grid-column: span 2 / span 2;
}

.blog-name {
    grid-column: span 8 / span 8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.css-hdknak {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-ol8gnj {
    position: relative;
    height: 2rem;
    width: 100%;
}

.css-1ceugt2 {
    position: relative;
    z-index: 30;
    padding: 1rem;
}

.css-1k1ju2g {
    width: 100%;
    border-width: 1px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    padding: 0.5rem 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: relative;
    z-index: 20;
    border-radius: 9999px;
    background-color: transparent;
}

.css-1p542kp {
    position: absolute;
    top: 1.25rem;
    left: 2rem;
    z-index: 10;
    margin-top: 0.375rem;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

.css-vhbk82 {
    height: 1rem;
    width: 1rem;
    stroke: currentcolor;
}

.css-1doig9l {
    flex: 1 1 0%;
    overflow: auto;
}

.css-13udsys {
    height: 100%;
}

.css-195ybi5 {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem 1rem;
}

.css-17d6yjs {
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    cursor: pointer;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.css-1ktcgv9 {
    position: relative;
    display: block;
}

.css-kvans7 {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 8 / span 8;
    display: grid;
    grid-template-columns: repeat(10, minmax(0px, 1fr));
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: left;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-8yyt9q {
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    flex-shrink: 0;
    stroke: currentcolor;
}

.css-yung9h {
    grid-column: span 9 / span 9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-2hfyww {
    grid-column: span 4 / span 4;
    height: 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.css-14fgbak {
    position: relative;
    z-index: 20;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.css-1xqpp34 {
    border-radius: 0.25rem;
    border-width: 1px;
    padding: 0.25rem 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-vhbk82 {
    height: 1rem;
    width: 1rem;
    stroke: currentcolor;
}


.css-2hfyww {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    grid-column: auto / auto;
}

.draft-header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.css-1lfvfax {
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    padding: 0.25rem 0.625rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

.css-1c0f27 {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    flex-shrink: 0;
    fill: currentcolor;
    opacity: 0.75;
}

.css-z17ftt {
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
    padding: 0.25rem 0.625rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

.css-n4l9fj:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.css-n4l9fj {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
}

.css-hvybmk {
    height: 1.25rem;
    width: 1.25rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    stroke: currentColor;
}

.draft-header-c {
    position: relative;
}
.header-menu {
    position: absolute;
    right: 0;
    min-width: 290px;
    height: auto;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: none;
}

.css-4gob12 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-11wm9m8 {
    display: flex;
    height: 2rem;
    width: 2.75rem;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.css-5ykto3 {
    height: 1.25rem;
    width: 1.25rem;
    stroke: currentcolor;
}

.css-1qug1jq {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.SwitchRoot {
    width: 36px;
    height: 20px;
    background: #EAECF0;
    border-radius: 9999px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.SwitchThumb {
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}

.open {
    display: block!important;
}

.draft-content {
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 1.25rem;
    padding-bottom: 10vh;
    /* position: relative; */
    width: 100%;
    border-width: 1px;
    border-color: rgba(241, 245, 249, 0);
}

.css-hsxbts {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

.css-1asqrf2, .css-134l51w {
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-9xgk1k {
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    stroke: currentcolor;
}

.css-bjn8wh {
    /* position: relative; */
}

.css-ecmr4t {
    width: 100%;
    resize: none;
    appearance: none;
    overflow: hidden;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.875rem;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.375 !important;
}



.css-gnohp {
    /* position: relative; */
    width: 100%;
    outline: none;
    min-height: 60vh;
    padding-bottom: 50px;
    overflow-wrap: break-word;
    max-width: 65ch;
    color: rgb(17, 17, 17);
    font-size: 1.125rem;
    line-height: 1.77778;


}
#body-content {
    position: relative;
    word-wrap: break-word;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    outline: none;
    min-height: 20vh;
    padding-bottom: 50px;
    cursor: text;
}

.css-gnohp :where(p):not(:where([class~="not-prose"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.css-gnohp :where(h3 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0px;
}

@media (min-width: 768px) {

    .css-2hfyww {
        display: none;
    }

    .css-2hfyww {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        grid-column: auto / auto;
    }

    .css-2hfyww {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        grid-column: auto / auto;
    }

    .group:hover .css-2hfyww {
        display: block!important;
    }

    .css-ecmr4t {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .draft-nav {
        grid-column: span 4 / span 4;
        height: 100vh;
        min-height: 0px;
    }

    .draft-main {
        grid-column: span 6 / span 6;
    }

    .css-17348h7 {
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .draft-nav {
        grid-column: span 3 / span 3;
    }

    .draft-main {
        grid-column: span 7 / span 7;
    }
}

@media (min-width: 1280px) {

    .css-gnohp :where(p):not(:where([class~="not-prose"] *)) {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .css-dwkwov :where(h3 + *):not(:where([class~="not-prose"] *)) {
        margin-top: 0px;
    }
}

.css-1pulk9m {
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-9v3hhm {
    height: 1rem;
    width: 1rem;
    fill: transparent;
    stroke: currentcolor;
}

.css-picdfb {
    margin-top: auto;
    margin-bottom: auto;
    height: 75%;
    width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.css-1x01kwx > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

#toolbar-editor {
    transform: translateX(-50%);
    margin-top: 0.5rem;
    display: none;
    border-radius: 0.75rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    grid-auto-flow: column;
    padding: 0.25rem;
    transition: .8s;
}

.css-119rivw {
    height: 1rem;
    width: 1rem;
    fill: transparent;
    stroke: currentcolor;
}

.prose code {
    border-radius: .25rem;
    font-weight: 400!important;
    padding: .25rem;
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
    font-size: 80%;
    background: #f0efed;
}


.css-104epv6 {
    height: 0.875rem;
    width: 0.875rem;
    fill: currentcolor;
}

.css-19tico8 {
    margin-top: 0.75rem;
    display: flex;
    width: 500px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.css-1vtvl2a {
    width: 100%;
    overflow: hidden;
    padding: 1.25rem;
}

.css-tq074a {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-ldov21 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.css-2iqbi4 {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
    fill: currentcolor;
}

.css-3jrieu {
    height: 1.25rem;
    width: 1.25rem;
    fill: currentcolor;
}

.css-uyotl1 {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
}

.css-1gok8e8 {
    margin-bottom: 0.5rem;
}

.css-penffn {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-1jk3l06 {
    font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.css-17348h7 {
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: transparent;
    outline: transparent solid 2px;
    outline-offset: 2px;
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-1nl4mik {
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

/* POP UP UPLOAD COVER */
.css-1xhyxl4 {
    width: 725px;
    position: fixed;
    left: 0;
    top: 0;
    min-width: max-content;
    transform: translate(50%, 55%);
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    z-index: 99;
    display: none;
}

.css-1xhyxl4.open {
    display: inline-block!important;
}

.css-gu4ls9 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom-width: 1px;
    padding: 0.5rem 1rem;
    vertical-align: baseline;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.css-1roftes {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-1roftes::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    bottom: -0.5rem;
    height: 0.125rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.css-1dvcxr3 {
    padding: 1rem;
}

.css-1jbrjri {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    padding: 2rem;
}

.css-37n1p2 {
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-eivff4 {
    display: none;
}

.css-n5h5ty {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.css-h9aq5x {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.css-1ug4ag9:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.css-1ug4ag9 {
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0.5rem;
    border-radius: 9999px;
    outline: transparent solid 2px !important;
    outline-offset: 2px !important;
}

.css-12cnxdc {
    height: 1.25rem;
    width: 1.25rem;
    fill: currentcolor;
}

.css-pbhbmr {
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    fill: currentcolor;
}

/* Magic bar */
.magic-bar {
    position: fixed;
    bottom: 32px;
    width: 65ch;
    transition: all .3s ease-in-out;
    z-index: 9;
    pointer-events: none;
}

.inner {
    --innerWidth: 1920px;
    width: 100%;
    max-width: var(--innerWidth);
    margin: 0 auto;
    padding: 0 32px;
}

.menu-float__inner {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-float__wrapper {
    --bg-menu-wrapper: 34, 34, 34;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 6px;
    border-radius: 12px;
    background: rgba(var(--bg-menu-wrapper), 0.8);
    pointer-events: auto;
    transition: all .4s;
}

.menu-float__content {
    position: relative;
    width: 100%;
    background: #3e3e3e;
    color: #d3d3d3;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    padding: 0 6px;
    text-align: center;
    border-radius: var(--rounded-normal);
    overflow: hidden;
}

.menu-float__filters {
    position: relative;
    display: flex;
    height: 60px;
    margin-left: -6px;
    margin-right: -6px;
}

.menu-float__filter {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 14px;
}

.menu-float__filters li {
    border-left: 1px solid rgba(34 34 34, 0.1);
}

.menu-float__arrow {
    display: inline-block;
    fill: #a7a7a7;
    margin-left: 12px;
    width:12px;
    height:12px;
    position: relative;
    transition: all .3s;
}

.menu-float__top {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.menu-float__bottom {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-float__title-section {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0 20px 0 6px;
    line-height: 100%;
}

.menu-float__menu {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    padding: 16px;
    background: #2c2c2c;
    color: #fff;
    border-radius: var(--rounded-normal);
    z-index: -1;
    transition: all .4s;
}

.filters {
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-normal);
    transition: all .3s;
    z-index: -1;
    pointer-events: all;
}

.filters__tab {
    display: block;
}

.filters__search {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    background: #383838;
    border-radius: var(--rounded-small);
}

.filters__search input {
    flex: 1;
    padding: 0 16px;
    background: rgba(0,0,0,0);
    font-size: 16px;
    color: #fff;
}

.filters__search button {
    width: 40px;
    background: rgba(0,0,0,0);
    border: none;
}

.ico-svg {
    position: relative;
    display: inline-block;
    height: auto;
    fill: currentColor;
    transition: all .3s;
}

.filters__search .ico-svg {
    fill: #fff;
}

.filters__search input:focus {
    outline: none;
}


.filters__content {
    flex: 1;
    max-height: 200px;
    color: var(--color-white);
    overflow-y: auto;
    overflow-x: hidden;
}

.filters__content::-webkit-scrollbar-track {
    background: #383838;
}

.filters__content::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}

.filters__content::-webkit-scrollbar {
    width: 2px;
}

.filters__label {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #7a7a7a;
    font-weight: 400;
    font-size: var(--text-size-small);
    border-bottom: 1px solid #4e4e4e;
    clear: both;
}

.filters li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filters__list li {
    float: left;
    width: 33.333%;
    font-size: 13px;
}

.filters__item {
    display: inline-flex;
    align-items: center;
    height: 26px;
    padding: 0 8px;
    color: var(--color-white);
    border-radius: 26px;
    cursor: pointer;
    transition: all .3s;
}

.menu-float__menu span {
    color: #fff;
}

.filters__item:hover {
    background: #383838;
}

.menu-float__wrapper.is-open {
    min-width: 600px !important;
    max-width: 1200px !important;
}

.menu-float__wrapper.is-open .menu-float__top{
    max-height: 500px;
}

.list-link {
    padding-left: 1rem!important;
}

.link-url {
    border-bottom: 1px solid var(--grey);
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 5px 10px 5px 10px;
    display: flex;
}

.link-svg {
    mix-blend-mode: difference;
    min-width: 14px;
    min-height: 14px;
}

.link-url h6 {
    color: #000;
    width: 410px;
    font-family: NeueHaasDisplay,Arial,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color .3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link-url:hover {
    background-color: #000;
    transition: background-color .3s ease-in-out;
}

.link-url:hover> h6 {
    color: #fff;
}

.tag-multi-link {
    position: relative;
}
.remove-tag-btn {
    position: absolute;
    left: -32px;
    top: 10px;
}
.remove-tag-btn:hover:after{
    font-size: .9em;
    position: absolute;
    left: -2.2em;
    bottom: 2em;
    content: "Remove tag";
    background: #333333;
    color: #ffffff;
    width: 90px;
    text-shadow: 0px -1px 0px rgb(0 0 0 / 10%);
    padding: 2px;
    border-radius: 6px;
}
